{% extends "base.html" %}

{% block title %}
    My Blog - {{ title }}
{% endblock %}

{% block content %}
    {% if error_message %}
        <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
            <div class="alert alert-danger" role="alert" style="text-align: center; width: 50%; padding: 10px;">
                {{ error_message }}
            </div>
        </div>
    {% else %}
    <div class="container-fluid  mt-4">
        <div class="blog-post">
            <h1 class="post-title">{{ title }}</h1>
            <div class="post-meta">
                <span class="author">By {{ author }}</span>
                <span class="timestamp">Created: {{ created_at }}</span>
                <span class="timestamp">Updated: {{ updated_at }}</span>
            </div>
            <div class="post-content">
                <p>
                    {{ blog }}
                </p>
            </div>
        </div>
        
    </div>
    {% endif %}
{% endblock %}