{% extends "base.html" %}

{% block title %}
    Sententia - Home
{% endblock %}

{% block content %}
<div class="container-fluid text-center">
    <div class="row  m-4">
        <div class="col">
            <figure>
                <blockquote class="blockquote">
                  <p>A collection of generated and personal sententia about varoius topics.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Sententia: latin, noun: a way of thinking, view, opinion, judgement. 
                </figcaption>
              </figure>
            <hr>
        </div>
    </div>
    <div class="row  m-4">
        <div class="col">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
              <p>results shown on blog page</p>
            <hr>
        </div>
    <div class="row  m-4">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

