{% extends "base.html" %}

{% block title %}
Sententia
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row  m-4">
        <div class="col text-center">
            <figure>
                <blockquote class="blockquote">
                    <p>A collection of generated and personal sententia about varoius topics.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Sententia: latin, noun: a way of thinking, view, opinion, judgement.
                </figcaption>
            </figure>
            <hr>
        </div>
    </div>
    <div class="row  m-4">
        <div class="col">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <hr>
        </div>
    </div>
    <div class="row  m-4">
        {% if search_results %}
        <h2>Results</h2>

        <hr>
        {% endif %}
    </div>
    <div class="row m-4">
        {% if latest_blogs %}
        <h2>Most recent</h2>
        {% for blog in latest_blogs %}
        <div class="col">
            <a href="/blog/{{ blog.id }}" style="text-decoration: none;">
                <div class="card m-2 bg-dark text-white" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ blog.title }}</h5>
                        <p class="card-text">{{ blog.blog|truncate(50, True, '') }}...</p>
                    </div>
                    <div class="card-footer">
                        Last updated: {{ blog.updated_at}}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        <hr>
        {% endif %}
    </div>
    <div class="row  m-4">
        {% if most_popular %}
        <h2>Most Popular</h2>
        <hr>
        {% endif %}
    </div>
    <div class="row  m-4">
        {% if categories %}
        <h2>By Category</h2>
        <hr>
        {% endif %}
    </div>
</div>
{% endblock %}